<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center> <h1>Registration Page</h1>
<form action="customerdetails">
	<input placeholder="Enter your Name" name="customerName"> <br> <br>
	<input placeholder="Enter your Emailid" name="customerEmailId"> <br> <br>
	<input placeholder="Enter your Password" name="customerPassword"> <br> <br>
	<input placeholder="Enter your Gender" name="customerGender"> <br> <br>
	<input placeholder="Enter your Mobile number" name="customerMobileNo"> <br> <br>
	<input placeholder="Enter your Address" name="customerAddress"> <br> <br>
	<input type="submit" value="Registration"> <br> <br>
</form>
</center>
</body>
</html>